<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f205aacc-b4a6-4369-854b-7b28ab3f733f/resourcegroups/Web20211004195238ResourceGroup/providers/Microsoft.Web/sites/car12345</ResourceId>
    <ResourceGroup>Web20211004195238ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://car12345.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8e66b3b4-1922-4b1e-ad7a-0d1bdd9a2e29</ProjectGuid>
    <PublishUrl>https://car12345.scm.azurewebsites.net/</PublishUrl>
    <UserName>$car12345</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>